@charset "UTF-8";
/* CSS Document　'goods' */

/*検索結果
---------------------------------------------------------------------------*/

.search_result {
	overflow: hidden;
	border-bottom: 1px solid #101010;
	padding-bottom: 30px;
}

.search_result .column_3 {
	width: 1000px;
	box-pack: justify;
    -moz-box-pack: justify;
    -webkit-box-pack: justify;
    -o-box-pack: justify;
    -ms-box-pack: justify; 
}

.column_3.fixHeight .box{
	width:278px;
	}

.column_3.fixHeight .box:nth-child(1){
	margin-left:0px;
	margin-right:0px;
	}

.column_3.fixHeight .box:nth-child(2){
	margin-left:83px;
	margin-right:83px;
	}

.column_3.fixHeight .box:nth-child(3){
	margin-left:0px;
	margin-right: 0px;
	}

.search_result .column_3 .box .inner {
	padding: 9px 0px 9px 0px;
}
.search_result .column_3 .box .icon_new {
	right: 25px;
}
