@charset "utf-8";

/*フォーム部分
---------------------------------------------------------------------------*/

#contact_contact #input_name td {
	width: 230px;
}
#contact_contact textarea {
	height: 200px;
}