@charset "utf-8";

/*コンテンツ（オーバーライド）
---------------------------------------------------------------------------*/

#shop_index .contents {
	width: 1000px;
}

/*メイン検索ボックス（オーバーライド）
---------------------------------------------------------------------------*/

.control_search th {
	width: 8px;
}
.control_search td.search_keyword {
	width: 225px;
}
.control_search .search_category,.control_search .search_prefecture,.control_search .search_area {
	width: 177px;
}
.search_result_ttl {
	margin-bottom: 10px;
}

/*検索結果
---------------------------------------------------------------------------*/

.search_result {
	overflow: hidden;
	border-bottom: 1px solid #101010;
	padding-bottom: 30px;
}
.search_result .column_3 {
	width: 1020px;
	margin-left: -20px;
}
.search_result .column_3 .box {
	width: 320px;
	margin-left: 20px;
	margin-bottom: 50px;
}
.search_result .column_3 .box .inner {
	padding: 16px 0px 16px 0px;
}
.search_result .column_3 .box .icon_new {
	right: 27px;
}
.search_result .column_3 .box .shop_category {
	text-align: right;
	font-size: 15px;
	font-weight: bold;
	padding-bottom: 5px;
	word-wrap: break-word;
}
.search_result .column_3 .box .shop_name {
	padding-top: 10px;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	word-wrap: break-word;
}
.search_result .column_3 .box .shop_address {
	padding-top: 5px;
	text-align: center;
	font-size: 12px;
}
