@charset "utf-8";

/*コンテンツ（オーバーライド）
---------------------------------------------------------------------------*/

#project .contents_column {
	width: 1000px;
}

/*（左ブロック）プロジェクト概要
---------------------------------------------------------------------------*/

#project_exp {
	margin-bottom: 30px;
}
#project_exp .address {
	font-size: 15px;
	margin-bottom: 20px;
	line-height: 1em;
	font-weight: bold;
}
#project_exp .category {
	font-size: 17px;
	color: #938372;
}
#project_exp .category ul {
	overflow: hidden;
	padding-top: 8px; 
}
#project_exp .category li {
	float: left;
	color: #7C6F5F;
	font-size: 14px;
	border-right: 1px solid #938372;
	padding: 0px 7px 0px 7px;
	line-height: 1em;
}
#project_exp .category li a {
	color: #7C6F5F;
}
#project_exp .category li:first-child {
	border-left: 1px solid #938372;
}

/*（右ブロック）プロジェクトについて
---------------------------------------------------------------------------*/

#about_project {
	margin-bottom: 40px;
}
#about_project .sam {
	margin-bottom: 20px;
}
#about_project h3 {
	font-size: 15px;
	padding: 10px 0px 20px 0px;
}
#about_project .exp {
	padding: 15px 20px 15px 20px;
	border-top: 1px solid #564E4C;
	border-bottom: 1px solid #564E4C;
}

/* ブレイクイメージ
---------------------------------------------------------------------------*/

.break_img {
	background-color: #EFEFEF;
	background-image: url(/image/common/contents/bg-main.png);
	background-repeat: repeat-y;
	background-position: left top;
	padding: 40px 0px 40px 0px;
}