@charset "utf-8";

/*コンテンツ（オーバーライド）
---------------------------------------------------------------------------*/
#shop.main .content_outline{
	overflow: hidden;
	background-image: url(../../image/common/contents/bg-column_line_tate.png);
	background-repeat: repeat-y;
	background-position: 615px top;

}
#shop .content_outline {
	background-position: 612px top;
}
#shop .content_outline .left_block {
	width: 612px;
}
#shop .content_outline .left_block_inner {
	width: 560px;
}
#shop .content_outline .left_block h1 {
	padding: 0px 0px 15px 0px;
}
#shop .content_outline .left_block .shop_exp {
	font-size: 15px;
	padding-bottom: 35px;
	font-weight: bold;
}
#shop .content_outline .left_block h2 {
	padding: 0px 0px 35px 0px;
}
#shop .content_outline .left_block p {
	margin-bottom: 35px;
}
#shop .content_outline .left_block img {
	margin-bottom: 35px;
}
#shop .content_outline .left_block .google_map {
	margin-bottom: 35px;
}
#shop .content_outline .left_block .read_article .btn {
	width: 360px;
	margin: 0px auto 0px auto;
	line-height: 60px;
	font-size: 16px;
	font-weight: normal;
}
#shop .content_outline .right_block {
	width: 350px;
}

/*（右ブロック）ショップ詳細
---------------------------------------------------------------------------*/

#shop #about_shop h3 {
	font-size: 18px;
	font-weight: normal;
	padding-top: 10px;
}
#shop #about_shop .exp {
	padding: 10px 0px 10px 0px;
	line-height: 1.8em;
}

/*メイン検索ボックス（オーバーライド）
---------------------------------------------------------------------------*/

#shop .right_block .control_search_logo {
	float: left;
	width: 86px;
}
#shop .right_block .control_search {
	float: left;
	width: 250px;
	margin-left: 8px;
}
#shop .right_block .control_search .search_category,#shop .right_block .control_search .search_prefecture,#shop .right_block .control_search .search_area {
	width: 100%;
	margin-bottom: 10px;
}
#shop .right_block .control_search .search_arrow {
	width: 100%;
	padding: 5px 0px 10px 0px;
}

/*ページャー（オーバーライド）
---------------------------------------------------------------------------*/

#shop .pager {
	width: 100%px;
	padding: 40px 0px 75px 0px;
}
/*ショップコンテンツ（オーバーライド）
---------------------------------------------------------------------------*/
.main_ttl{
	text-align:center;
	margin-bottom:35px;
}