@charset "utf-8";

/*コンテンツ（オーバーライド）の（オーバーライド）
---------------------------------------------------------------------------*/

#info .contents_column .left_block_inner {
	width: 563px;
}
#info .contents_column {
	background-image: none;
}

/*プライバシーポリシー
---------------------------------------------------------------------------*/

#info .ttl {
	font-size: 32px;
	padding: 0px 0px 20px 0px;
	font-weight: normal;
}
#info .ttl2 {
	font-size: 22px;
	padding: 0px 0px 20px 0px;
	font-weight: normal;
}
#info .contents_column .left_block p {
	line-height: 2em;	
	font-family: Helvetica, Arial, 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, sans-serif;
	margin-bottom: 25px;
}
#info .contents_column .other_link {
	padding: 0px 0px 40px 0px;
}
#info .contents_column .other_link li {
	font-size: 16px;
}
