@charset "UTF-8";
/* CSS Document 'info' */

/*コンテンツブロック*/
.left_block{
	width: 612px;
}
.left_block_inner{
	width: 563px;
}
.right_block{
	width:350px;
}



/*コンテンツ文章z*/
.ttl{
	font-size: 32px;
	padding: 0px 0px 20px 0px;
	font-weight: normal;
	}
.ttl2{
	font-size: 22px;
	padding: 0px 0px 20px 0px;
	font-weight: normal;
}

.contents_column .left_block p {
	line-height: 2em;	
	font-family: Helvetica, Arial, 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, sans-serif;
	margin-bottom: 25px;
}


.contents_column .other_link {
	padding: 0px 0px 40px 0px;
}
.contents_column .other_link li {
	font-size: 16px;
}
