@charset "utf-8";

/*コンテンツ（オーバーライド）
---------------------------------------------------------------------------*/

#goods .contents_column {
	width: 1034px;
	background-position: 612px top;
}
#goods .contents_column .left_block {
	width: 612px;
}
#goods .contents_column .left_block_inner {
	width: 560px;
}
#goods .contents_column .left_block p {
	margin-bottom: 45px;
}
#goods .contents_column .left_block img {
	margin-bottom: 45px;
}
#goods .contents_column .right_block {
	width: 387px;
}
#goods .contents_column strong {
	font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
	font-weight: normal;
	font-size: 26px;
	padding: 30px 0px 30px 0px;
	display: block;
}

/*（左ブロック）本写真
---------------------------------------------------------------------------*/

#goods .book_photo {
	overflow: hidden;
	margin-bottom: 15px;
}
#goods .book_photo img {
	margin-bottom: 0px !important;
}
#goods .book_photo ul {
	overflow: hidden;
	background-color: #FFFFFF;
}
#goods .book_photo li {
	float: left;
	margin-right: 1px;
}

/*（右ブロック）本詳細
---------------------------------------------------------------------------*/

#goods #goods_exp {
	border-top: 1px solid #564E4C;
	padding-top: 25px;
	padding-bottom: 300px;
	letter-spacing: 2px;
	border-bottom: 1px solid #564E4C;
	margin-bottom: 50px;
}
#goods #goods_exp h1 {
	font-family: Helvetica, Arial, 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, sans-serif;
	font-size: 28px;
	font-weight: bold;
	padding: 0px;
}
#goods #goods_exp .category {
	padding-top: 5px;
	font-size: 15px;
	font-weight: bold;
}
#goods #goods_exp .author {
	padding-top: 25px;
	font-size: 13px;
	line-height: 1.7em;
}
#goods #goods_exp .price {
	padding-top: 15px;
	font-size: 16px;
	font-weight: bold;
}
#goods #goods_exp .sns_icon {
	padding-top: 35px;
	padding-bottom: 40px;
	overflow: hidden;
}
#goods #goods_exp .sns_icon li {
	float: left;
	margin-right: 20px;
}