@charset "utf-8";

/*コンテンツ（オーバーライド）
---------------------------------------------------------------------------*/

#goods_index .contents {
	width: 1018px;
}

/*検索結果
---------------------------------------------------------------------------*/

.search_result {
	overflow: hidden;
	border-bottom: 1px solid #101010;
	padding-bottom: 30px;
}
.search_result .column_3 {
	width: 1110px;
	margin-left: -92px;
}
.search_result .column_3 .box {
	width: 278px;
	margin-left: 92px;
	margin-bottom: 40px;
}
.search_result .column_3 .box .inner {
	padding: 9px 0px 9px 0px;
}
.search_result .column_3 .box .icon_new {
	right: 25px;
}
