@charset "UTF-8";
/* CSS Document 'book'*/


/*コンテンツ（オーバーライド）
---------------------------------------------------------------------------*/


/*検索結果
---------------------------------------------------------------------------*/

.search_result {
	overflow: hidden;
	border-bottom: 1px solid #101010;
	padding-bottom: 30px;
}
.search_result .column_3.fixHeight {
	width:1000px;
	margin-left:auto;
}
.search_result .column_3.fixHeight .box {
	width: 278px;
	float:left;
	margin-left: 15px;
	margin-right:auto;
	margin-bottom: 40px;
}
.search_result .column_3 .box .inner {
	padding: 9px 0px 9px 0px;
}
.search_result .column_3 .box .icon_new {
	right: 25px;
}


/*メイン検索ボックス
---------------------------------------------------------------------------*/

.control_search {
	margin-bottom: 40px;
}
.control_search td {
	vertical-align: middle;
}
.control_search th {
	width: 13px;
}
.control_search td.search_keyword {
	width: 280px;
}
.control_search .search_category,.control_search .search_project {
	width: 220px;
}
.control_search select {
	width: 100%;
}
.control_search .search_arrow {
	text-align: center;
	width: 50px;
}
.search_result_ttl {
	font-size: 15px;
	margin-bottom: 50px;
	font-weight: bold;
}
.search_result_sort {
	text-align: right;
	font-size: 13px;
	margin-bottom: 20px;
}
.search_result_sort a.active {
	color: #DA5443;
}
