@charset "utf-8";

/*コンテンツ（オーバーライド）
---------------------------------------------------------------------------*/

#book_index .contents {
}

/*検索結果
---------------------------------------------------------------------------*/

.search_result {
	overflow: hidden;
	border-bottom: 1px solid #101010;
	padding-bottom: 30px;
}
.search_result .column_3.fixHeight {
	width:1000px;
	margin-left:auto;
}

.search_result .column_3.fixHeight .box{
	width:278px;
	margin-bottom: 40px;
}

.search_result .column_3.fixHeight .box:nth-child(3n+1){
	margin-left:0px;
	margin-right:0px;
	/*background-color:red;*/
}

.search_result .column_3.fixHeight .box:nth-child(3n+3){
	margin-left:0px;
	margin-right: 0px;
	/*background-color:blue;*/
}

.search_result .column_3.fixHeight .box:nth-child(3n+2){
	margin-left:60px;
	margin-right:60px;
	/*background-color:black;*/
}



.search_result .column_3 .box .inner {
	padding: 9px 0px 9px 0px;
}
.search_result .column_3 .box .icon_new {
	right: 25px;
}
